﻿@{
    ViewData["Title"] = "Home Page";
}
@model PaywayAdyenRedirectSample.Lib.IndexViewModel

<div class="text-center">
    @if (Model.LoggedIn)
    {
        <h1>Buy Adeprimo digital</h1>
        <div class="row-fluid mt-4">
            <img src="https://picsum.photos/600/300" width="800" height="300" />
            <div class="row mt-4">
                <div class="col">
                    @using (Html.BeginForm("Buy", "Home"))
                    {
                        <input type="submit" value="Buy adeprimo digital" class="btn btn-info" style="width: 250px;" />
                    }
                </div>
                <div class="col">
                    @using (Html.BeginForm("Verify", "Home"))
                    {
                        <input type="submit" value="Change credit card" class="btn btn-info" style="width: 250px;" />
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <h1 class="display-4">Log in</h1>
        using (Html.BeginForm())
        {
            <div class="row-fluid mt-4">
                @Html.TextBoxFor(x => x.Username, new { style = "width:250px", placeholder = "Username" })
            </div>
            <div class="row-fluid mt-2">
                @Html.PasswordFor(x => x.Password, new { style = "width:250px", placeholder = "Password" })
            </div>
            <div class="row-fluid mt-2">
                <input type="submit" value="Log in" class="btn btn-info" style="width: 250px;" />
            </div>
        }
    }
</div>
