﻿@model PaywayAdyenRedirectSample.Lib.ReceiptModel
@{
    ViewData["Title"] = "Receipt";
}

<div class="text-center">
    <h1 class="display-4">Your receipt</h1>
    <p>@Model.OrderId</p>
    <p>Insert receipt data here. <a href="https://docs.worldoftulo.com/payway/integration/payway_api/endpoints/me_api/get_receipt/">Read more here</a></p>
</div>
